/*要素全体に影響（多分）要素全体の並び順を変えたい場合はここをいじる*/
.list{
    border-bottom: 1px solid var(--color-border-light);
}
.list:last-child{
    border-bottom: none;
}

/*要素一つ一つのレイアウト　全体を変えた場合個々の要素を変えなければならなくなったらここ*/
.link{
    display: flex;
    align-items: flex-start;
    gap: 40px; /*画像とテキストの間隔(変えてもいいかも）*/
    padding: 24px 0; /*変えてもよさそう(多分変えなくていい)*/
}

.image{
    width: 200px;/*画像の大きさ（幅）変えてもいいかも*/
    height: auto;/*画像の大きさ（高さ）変えてもいいかも*/
    border-radius: var(--border-radius);/*角丸（変えてもいいかも）*/
}

.title{
    font-size: 1.1rem;/*タイトルの大きさ（変えてもいいかも）*/
    font-weight: bold;/*太さ（変えてもいいかも）*/
    margin-bottom: 0.5rem;/*タイトルと日付の間隔（レイアウトによっては変えてもいいかも）*/
}

.meta{
    display: flex;
    align-items: center;
    gap: 16px;/*カテゴリーネームと日付の間隔（レイアウトによっては変えるべきかも）*/
}



@media(max-width: 640px){
    .link{
        display: block;/*ブロック要素にする*/
        align-items: center;/*中央揃え*/
        gap: 16px;/*画像とテキストの間隔(変えてもいいかも）*/
    }
    .image{
        display: none;/*画像を非表示にする*/
    }

    .title{
        font-size: 1rem;/*タイトルの大きさ（変えてもいいかも）*/
        font-weight: bold;/*太さ（変えてもいいかも）*/
        margin-bottom: 0.4rem;/*タイトルと日付の間隔（レイアウトによっては変えてもいいかも）*/
    }
    
    .meta{
        display: flex;
        align-items: center;
        gap: 16px;/*カテゴリーネームと日付の間隔（レイアウトによっては変えるべきかも）*/
    }
}